<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-green-600">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
        <a href="javascript:;" class="mdui-typo-headline">Tree Info</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:;" class="mdui-typo-title">welcome</a>
        <a href="javascript:;" class="mdui-typo-title random_number">User</a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
        <a href="." class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
    </div>
</div>

<!-- <script>
    function random_number_ajax() {
        var $$ = mdui.JQ;
        $$.ajax({
            method: 'POST',
            url: '../number',
            success: function (data) {
                response = JSON.parse(data)
                $$('.random_number')[0].text = response.num
            }
        });
    }
</script> -->