{% extends "index.html" %}
{% block content %}
    <div class="mdui-container mdui-m-t-3">
        <div class="mdui-card mdui-m-t-2 mdui-m-x-1 mdui-m-mdui-col-xs-12 mdui-col-m-6">
            <h1 style="color:#2E7D32">
            To search the information, type the number of the tree:
        </h1>
        <form style="color:#424242 size: 7">
            Tree number:<input type="text" name="tree_number">
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
{% endblock %}